PROJECT_NAME="Full Stack Developer Portfolio API"
ENVIRONMENT="development"
DEBUG=True

# Database Configuration (MySQL)
DB_HOST=sakura.proxy.rlwy.net
DB_PORT=16234
DB_USER=root
DB_PASSWORD=SuovBUNyYfVuJAiMCImTfnuiodrfTbbl
DB_NAME=railway
# JWT Auth Settings
SECRET_KEY="supersecretjwtkeyforportfoliobackendservice"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60
